{% extends "my_app/layout.html" %}
{% block title %} Pagination {% endblock %}

{% block body %}
  {% load static %}
  <script src="{% static 'my_app/modal.js' %}"></script>

    <div id = 'select_items_per_page'>
        <a href="{% url 'pagination' %}?items_per_page=10">10 items per page</a>
        <a href="{% url 'pagination' %}?items_per_page=25">25 items per page</a>
        <a href="{% url 'pagination' %}?items_per_page=50">50 items per page</a>
        <a href="{% url 'pagination' %}?items_per_page=100">100 items per page</a>
        <a href="{% url 'pagination' %}?items_per_page=200">200 items per page</a>
    </div>
    <div id='page_navigation'>
        {% if items.has_previous %}
            <a href="{% url 'pagination' %}?items_per_page={{per_page}}&page=1">First Page</a>
            <a href="{% url 'pagination' %}?items_per_page={{per_page}}&page={{items.previous_page_number}}">Previous Page</a>
        {% endif %}
        {% if items.has_next %}
            <a href="{% url 'pagination' %}?items_per_page={{per_page}}&page={{items.next_page_number}}">Next Page</a>
            <a href="{% url 'pagination' %}?items_per_page={{per_page}}&page={{ items.paginator.num_pages }}">Last Page</a>
        {% endif %}
    </div>
    <div id='page_list'>
        {% for item in items.paginator.page_range %}
          <a href="{% url 'pagination' %}?items_per_page={{per_page}}&page={{item}}"> {{item}} </a>
        {% endfor %}
    </div>

    <div id='table'>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        {% load discount %}
            {% for item in items %}
                <tr>
                    <th>{{item.SKU}}</th>
                    <th><button class='btn btn-primary' value="{{item.name}}">{{item.name}}</button></th>
                    <th>{{item.description}}</th>
                    {% if item.discount > 0 %}
                        <th><s>{{item.price}}</s> <span style="color:green;">{{ item.price | discount:item.discount }}</span></th>
                    {% else %}
                        <th>{{item.price}}</th>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>



<div id="jsModal" class="modal">
  <div class="modal__overlay jsOverlay"></div>
  <div class="modal__container">
    <p>Modal window text</p>
    <button class="modal__close jsModalClose">&#10005;</button>
  </div>
</div>

{% endblock %}

